body {
  font-family: "Courier New";
  background-color: black;
}

/* Pizza Background */
#background-container {
  display: flex;
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  justify-content: center;
  box-shadow:2px 2px 200px 5px white;
}

.pizza-background {
  height: 550px;
  width: 95%;
  opacity: 0.8;
}

/* Dave Portnoy Slogan */

#background-container:hover .overlay{
  opacity: 0.7;
}

.overlay {
  display: flex;
  position: absolute;
  flex-flow: column;
  justify-content: center;
  height: 200px;
  width: 60%;
  opacity: 0;
  transition: .5s ease;
}

.one-bite-message {
  margin-top: 80px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.one-bite-message a {
  color: white;
  text-decoration: none;
}

.one-bite-message a:hover {
  color: blue;
  text-decoration: underline;
}

/* navbar  */
#navbar-container-wrapper {
  display: flex;
  flex-flow: column;
}

 #navbar-container {
   display: flex;
   align-items: flex-end;
   justify-content: space-around;
   height: 50px;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
 }

 .nav-bar-container-child-div{
   display: flex;
   flex-flow: column;
   align-items: center;
 }

 .nav-bar-container-child-div img{
   margin-top: 5px;
   height: 5px;
   width: 800px;
 }

 .nav-link{
   text-decoration: none;
   text-shadow: 1px 1px gray;
   color: white;
 }

 .nav-link:hover{
   text-decoration: underline;
   text-shadow: 2px 2px gray;
 }

 /* Pizza Logo */

 .pizza-logo img {
   height: 50px;
   /* animation: App-logo-spin infinite 20s linear; */
 }

 .pizza-logo img:hover {
   opacity: 0.8;
   /* animation: App-logo-spin infinite 20s linear; */
 }

 @keyframes App-logo-spin {
   from { transform: rotate(0deg); }
   to { transform: rotate(360deg); }
 }

/* about page*/

 .about-container {
   display: flex;
   flex-flow: column;
   margin-top: 5%;
   margin-bottom: 10%;
   margin-left: 10%;
   width: 80%;
   height: 500px;
   opacity: 0.5;
 }

.about {
  font-weight: bold;
  font-size: 19px;
  color: white;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
}

 /* RestaurantPage css */

 .restaurant-page-container {
   display: flex;
   flex-flow: column;
   margin-top: 5%;
   margin-bottom: 5%;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   justify-content: center;
 }

 /* Filter on RestaurantPage */

.filter-container {
  display: flex;
  flex-flow: column;
}

.select-box {
  height: 20px;
  width: 150px;
}

/* each restaurant on components/restaurant.js */

.restaurant-list-container {
  color: white;
  font-size: 13px;
  overflow-x: auto;
  margin-top: 500px;
  width: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid white;
    margin-top: 20px;
}

tr, th, td {
    text-align: left;
    padding: 2px;
    color: white;
    border: 1px solid white;
}

.map-container {
  margin-left: 100px;
}
