/* Pizza Background */
#background-container {
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  justify-content: center;
  font-family: "Courier New";
}

.pizza-background {
  height: 650px;
  width: 100%;
  opacity: 0.8;
}

/* Dave Portnoy Slogan */

#background-container:hover .overlay{
  opacity: 0.5;
}

.overlay {
  display: flex;
  position: absolute;
  flex-flow: column;
  justify-content: center;
  height: 650px;
  width: 80%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fff;
}

.one-bite-message {
  margin-top: 80px;
  font-size: 40px;
  text-align: center;
  font-family: "Courier New";
}

/* navbar  */

 #navbar-container {
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: 50px;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
 }

 .nav-link{
   text-decoration: none;
   font-family: "Courier New";
   text-shadow: 1px 1px gray;
 }

 .nav-link:hover{
   text-decoration: none;
   font-family: "Courier New";
   text-shadow: 2px 2px gray;
   animation: App-logo-spin infinite 20s linear;
 }

 /* Pizza Logo */

 .pizza-logo img {
   height: 50px;
   /* animation: App-logo-spin infinite 20s linear; */
 }

 .pizza-logo img:hover {
   opacity: 0.8;
   /* animation: App-logo-spin infinite 20s linear; */
 }

 @keyframes App-logo-spin {
   from { transform: rotate(0deg); }
   to { transform: rotate(360deg); }
 }

/* about page*/
 #about-container {
   display: flex;
   flex-flow: column;
   margin-top: 5%;
   margin-bottom: 5%;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   justify-content: center;
   font-family: "Courier New";
   background-color: gray;
 }
