body {
  font-family: "Courier New";
  background-color: #225E73;
}

/* Pizza Background */
#homepage-container {
  display: flex;
  flex-flow: column;
  align-content: space-between;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 2px 2px 200px 5px black; */
}

/* #background-container:hover .overlay{
  opacity: 0.8;
} */

.map-container {
 margin-top: 25px;
 margin-left: 10%;
}

/* search icon underneath the map*/
.search-container {
  position: absolute;
  display: flex;
  height: 30px;
  top: 600px;
  margin-left: 0;
  width: 40%;
}
.search-icon {
  height: 20px;
  width: 20px;
  margin-right: 2px;
}

.search-box {
  height: 14px;
  width: 200%;
  margin-left: 8px;
  margin-bottom: 5px;
}

/* .pizza-background {
  height: 550px;
  width: 95%;
  opacity: 0.8;
} */

.one-bite-message {
  margin-top: 0px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.one-bite-message a {
  color: white;
  text-decoration: none;
}

.one-bite-message a:hover {
  color: blue;
  text-decoration: underline;
}

/* navbar  */
#navbar-container-wrapper {
  margin-top: 0;
  display: flex;
  flex-flow: column;
}

 #navbar-container {
   display: flex;
   align-items: flex-end;
   justify-content: space-around;
   height: 50px;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
 }

 .nav-bar-container-child-div{
   display: flex;
   flex-flow: column;
   align-items: center;
 }

 .nav-bar-container-child-div img{
   margin-top: 5px;
   height: 5px;
   width: 800px;
 }

 .nav-link{
   text-decoration: none;
   text-shadow: 1px 1px gray;
   color: white;
   font-size: 14px;
 }

 .nav-link:hover{
   text-decoration: underline;
   text-shadow: 2px 2px gray;
 }

 /* Pizza Logo */

 .pizza-logo img {
   height: 50px;
   /* animation: App-logo-spin infinite 20s linear; */
 }

 .pizza-logo img:hover {
   opacity: 0.8;
   /* animation: App-logo-spin infinite 20s linear; */
 }

 @keyframes App-logo-spin {
   from { transform: rotate(0deg); }
   to { transform: rotate(360deg); }
 }

/* about page*/

 .about-container {
   display: flex;
   flex-flow: column;
   margin-top: 5%;
   margin-bottom: 10%;
   margin-left: 10%;
   width: 80%;
   height: 500px;
   opacity: 0.5;
 }

.about {
  font-weight: bold;
  font-size: 19px;
  color: white;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
}

 /* RestaurantPage css */

 .restaurant-page-container {
   display: flex;
   flex-flow: column;
   margin-top: 5%;
   margin-bottom: 5%;
   width: auto;
   justify-content: center;
 }

/* each restaurant on components/restaurant.js */

.restaurant-list-container {
  font-size: 13px;
  margin-top: 500px;
  align-self: center;
  width: auto;
}

tr:first-child{
  background: maroon;
  position: sticky;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid white;
    margin-top: 2px;
    background-color: white;
}

tr {
    text-align: left;
    padding: 2px;
    color: black;
    border: 1px solid black;
}

td a {
  color: black;
}

td a:hover {
  color: red;
}

/* RestaurantList table header sort buttons */

.sort-button-container{
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.sort-button{
  background-color: maroon;
  color: white;
  border-radius: 2px;
  border-color: maroon;
}

.sort-button:hover{
  border: 1px solid gray;
}

.vote-page-container {
  height: 1000px;
}

.vote-page-banner{
  background: url('./pictures/vote-container-background.jpeg');
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-align: center;
  height: 400px;
}

.vote-message-container-left{
  width: 30%;
  font-size: 15px;
  padding-right: 50px;
  border-right: 1px solid white;
}

.vote-message-container-right{
  width: 30%;
  font-size: 15px;
  padding-right: 50px;
  border-left: 1px solid white;
}

.vote-form-container{
  padding-left: 50px;
  font-size: 15px;
}

.form-group.has-error{
  border: 1px solid red;
}

.recommendations-list-container{
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.recommendation-container{
  background: url('./pictures/recommendationbackground.jpeg');
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: maroon;
  font-size: 20px;
  width: 800px;
  margin: 2px;
  padding: 5px;
  border: 5px solid maroon;
}

.recommendation-container:hover{
  opacity: 0.9;
}

.rec-content{
  width: 50%;
  align-self: center;
}

.vote-button img{
  height: 30px;
  float: right;
}

.vote-text{
  visibility: hidden;
  width: 120px;
  background-color: maroon;
  color: white;
  text-align: center;
  padding: 5px 0;
  float: right;
  z-index: 1;
}

.vote-button:hover .vote-text{
  visibility: visible;
}

.vote-button img:hover{
  height: 50px;
}
